<h1>uxshot</h1>
<p>Instantly screen capture and record in-browser.</p>
<h2>Demo</h2>
<p>Press <code>ctrl+s</code> to screenshot or <code>ctrl+r</code> to record your screen.</p>
<p>Copy the link from the popup. It will look like this: <a href="https://uxshot.com/NGEZloy">uxshot.com/NGEZloy</a></p>
<h2>Usage</h2>
<p>Find <a href="https://www.npmjs.com/package/uxshot">installation and usage docs</a> on NPM.</p>
<script>uxshot.init();</script>